*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  color: white;
  background-color: #20d00b; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #f9fefe; }

@font-face {
  font-family: 'gt_walsheim_probold';
  src: url("../../fonts/gtwalsheimpro-bold-webfont.woff2") format("woff2"), url("../../fonts/gtwalsheimpro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gt_walsheim_prolight';
  src: url("../../fonts/gtwalsheimpro-light-webfont.woff2") format("woff2"), url("../../fonts/gtwalsheimpro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gt_walsheim_promedium';
  src: url("../../fonts/gtwalsheimpro-medium-webfont.woff2") format("woff2"), url("../../fonts/gtwalsheimpro-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'gt_walsheim_prolight', sans-serif;
  color: #333; }

.heading-1 {
  font-family: 'gt_walsheim_probold';
  font-size: 6rem;
  /** 1300px / 16 = 81.25em */
  /** 600px / 16 = 37.5em */
  /** 450px / 16 = 28.125em */ }
  .heading-1 span {
    color: #20d00b;
    /** 600px / 16 = 37.5em */ }
    @media only screen and (max-width: 37.5em) {
      .heading-1 span {
        color: white; } }
  @media only screen and (max-width: 81.25em) {
    .heading-1 {
      font-size: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 4rem;
      color: white; } }
  @media only screen and (max-width: 28.125em) {
    .heading-1 {
      font-size: 3rem;
      text-align: center; } }

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid-center {
  display: grid;
  justify-content: center;
  align-content: center; }

.img-overlay {
  height: max-content;
  position: relative; }
  .img-overlay::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, rgba(0, 231, 18, 0.4), rgba(32, 208, 11, 0.7)); }
  .img-overlay--white::before {
    background-image: linear-gradient(to bottom, rgba(246, 246, 246, 0.9), rgba(221, 221, 221, 0.8)) !important; }
  .img-overlay img {
    display: block;
    width: 100%; }

.text-gradient {
  background-image: linear-gradient(to right bottom, #00d611, #20d00b);
  -webkit-background-clip: text;
  color: transparent; }

.green {
  fill: #20d00b !important; }

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  font-size: 1.4rem;
  padding-left: 2.5rem;
  cursor: pointer; }

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #00e712;
  background: #fff;
  border-radius: 3px; }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: -2px;
  left: 3px;
  font-size: 1.3rem;
  color: #00e712;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 1;
  transform: scale(1); }

[type="checkbox"]:checked + label:after {
  opacity: 0;
  transform: scale(0); }

.header__btn:link, .header__btn:visited {
  font-size: 2.3rem;
  color: white;
  text-decoration: none;
  padding: .8rem 3rem;
  border-radius: 10rem;
  background-color: #00e712;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  transition: all .2s; }

.header__btn:hover, .header__btn:active {
  background-color: #00dd11; }

.nav__btn:link, .nav__btn:visited {
  border-radius: 10rem;
  color: white;
  background-color: #00e712;
  font-size: 1.8rem;
  padding: .8rem 1em;
  text-decoration: none; }

.about__btn:link, .about__btn:visited {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-color: #00dd11;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.08);
  transition: all .2s;
  margin-top: 2.5rem; }

.about__btn:hover, .about__btn:active {
  background-color: #00d310; }

.about__btn svg {
  width: 3rem;
  height: 3rem;
  fill: white; }

.event {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
  background-color: #eafcfc;
  position: relative; }
  .event__figure {
    flex-basis: 50%;
    /**  400px / 16 = 25em */ }
    .event__figure::after {
      position: absolute;
      content: attr(data-event-name);
      white-space: nowrap;
      font-size: 2rem;
      color: #20d00b;
      border-top-left-radius: .7rem;
      border-top-right-radius: .7rem;
      background-color: #fff;
      padding: .1rem 1.5rem;
      top: -2.7rem;
      border: 1px solid #00e712;
      border-bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      /**  400px / 16 = 25em */ }
      @media only screen and (max-width: 25em) {
        .event__figure::after {
          top: -2.9rem; } }
    @media only screen and (max-width: 25em) {
      .event__figure {
        margin: 2rem; } }
  .event__long {
    flex-basis: 46%;
    padding: 1.3rem;
    margin-left: 1.2rem;
    font-size: 1.4rem;
    text-align: justify;
    transform: translateY(0.4rem);
    position: relative;
    /**  400px / 16 = 25em */ }
    .event__long span {
      font-family: 'gt_walsheim_probold';
      color: #1ec10a; }
    .event__long:after, .event__long:before {
      position: absolute;
      content: " ";
      width: 40%;
      height: 40%; }
    .event__long:after {
      top: -.2rem;
      left: -.2rem;
      border-top: 0.3rem solid #00e712;
      border-left: 0.3rem solid #00e712; }
    .event__long:before {
      right: -.2rem;
      bottom: .4rem;
      border-bottom: 0.3rem solid #20d00b;
      border-right: 0.3rem solid #20d00b; }
    @media only screen and (max-width: 25em) {
      .event__long {
        flex-basis: 50%;
        margin: 0 2.5rem; } }
  .event__icon-box {
    flex-basis: 10%;
    padding: 1rem;
    background-color: #d4d4d4; }
  .event__white-box {
    flex-basis: 39.9%;
    padding: 1rem;
    background-color: #eee; }
  .event__green-box {
    flex-basis: 50%;
    padding: 1rem;
    background-color: #20d00b;
    cursor: pointer; }
    .event__green-box:hover, .event__green-box:active {
      background-color: #1ec10a; }
  .event__icon {
    width: 2rem;
    height: 2rem;
    fill: white;
    cursor: pointer; }
  .event__link:link, .event__link:visited {
    font-size: 2rem;
    line-height: 1;
    text-decoration: none; }
  .event__link--white {
    color: #20d00b;
    border-bottom: 2px solid transparent;
    transition: all .15s; }
    .event__link--white:hover, .event__link--white:active {
      border-bottom: 2px solid #20d00b; }
  .event__link--green {
    color: white; }

.event-content {
  display: flex;
  /**  400px / 16 = 25em */ }
  @media only screen and (max-width: 25em) {
    .event-content {
      flex-direction: column; } }

.event-footer {
  display: flex;
  margin-top: 1.5rem;
  /**  400px / 16 = 25em */ }
  @media only screen and (max-width: 25em) {
    .event-footer {
      margin-top: 1.8rem; } }

.feature-wrapper {
  filter: drop-shadow(0rem 1.5rem 2rem rgba(0, 0, 0, 0.15));
  position: relative; }
  .feature-wrapper::before {
    position: absolute;
    content: attr(data-number);
    font-family: 'gt_walsheim_promedium';
    font-size: 2.1rem;
    color: #20d00b;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    border: 3px solid #20d00b;
    background-color: #eafcfc;
    display: flex;
    align-items: center;
    justify-content: center;
    top: .5rem;
    left: -.5rem; }
  .feature-wrapper::after {
    position: absolute;
    content: '';
    height: .4rem;
    width: 8rem;
    background-color: #20d00b;
    top: 1.8rem;
    left: 3.5rem;
    border-radius: 10rem; }

.feature {
  padding: 1.3rem;
  border-radius: 3px;
  background-color: #eafcfc;
  clip-path: polygon(0 17.2%, 100% 0, 100% 100%, 0% 100%); }
  .feature-content {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    background-color: #20d00b;
    position: relative;
    z-index: 1; }
    .feature-content::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
      background-color: #eafcfc;
      transform: scale(0.984);
      z-index: -1; }
  .feature__icon {
    display: block;
    width: 5rem;
    height: 5rem;
    fill: #00e712;
    margin: 2rem 0 2rem auto; }
  .feature__long {
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: justify; }
  .feature-footer {
    padding-top: 1rem;
    width: calc(100% + 2.6rem);
    margin-left: -1.3rem;
    border-top: 2px solid #20d00b; }
  .feature__header {
    font-family: 'gt_walsheim_promedium';
    font-size: 2rem;
    color: #20d00b; }

.form {
  display: flex;
  flex-direction: column;
  width: 38rem;
  height: max-content;
  padding: 3rem;
  border: 1px solid #00e712;
  border-radius: 3px;
  background-color: #eafcfc;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
  /** 1100px / 16 = 68.75em */ }
  @media only screen and (max-width: 68.75em) {
    .form {
      width: 38rem;
      margin: 0 auto; } }
  .form__heading {
    align-self: center;
    font-family: 'gt_walsheim_probold';
    font-size: 3.5rem;
    color: #20d00b;
    margin-bottom: 2rem; }
  .form__icon-field {
    position: relative;
    margin-bottom: 2rem; }
  .form__icon {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    fill: #aaa;
    left: 1rem;
    bottom: 53%;
    transform: translateY(50%); }
  .form__input {
    width: 100%;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.2rem;
    padding-left: 3.5rem;
    outline: none;
    border: 1px solid #00e712;
    border-radius: 5px;
    background-color: #eafcfc; }
  .form__select {
    font-family: inherit;
    color: inherit;
    outline: none;
    background-color: #eafcfc;
    border-color: #00e712;
    border-radius: 2px;
    padding: .6rem; }
  .form__terms-group {
    margin: 2rem 0; }
  .form__submit {
    font-family: inherit;
    font-weight: 300;
    font-size: 1.9rem;
    color: white;
    letter-spacing: 1px;
    background-color: #00e712;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1.25rem;
    cursor: pointer;
    transition: all .2s; }
    .form__submit:hover, .form__submit:active {
      background-color: #00d310; }

.logo {
  display: flex;
  /** 1300px / 16 = 81.25em */
  /** 450px / 16 = 28.125em */ }
  .logo__img {
    width: 4.5rem; }
  .logo__text {
    font-family: 'gt_walsheim_probold';
    font-size: 3.5rem;
    margin-left: 1rem; }
    .logo__text--1 {
      color: #20d00b;
      margin-right: -.7rem;
      /** 600px / 16 = 37.5em */ }
      @media only screen and (max-width: 37.5em) {
        .logo__text--1 {
          color: white; } }
    .logo__text--2 {
      color: #1ec00a;
      /** 600px / 16 = 37.5em */ }
      @media only screen and (max-width: 37.5em) {
        .logo__text--2 {
          color: white; } }
  @media only screen and (max-width: 81.25em) {
    .logo {
      font-size: 3rem; } }
  @media only screen and (max-width: 28.125em) {
    .logo {
      font-size: 2.5rem; } }

.member {
  flex-direction: column;
  padding: 2rem;
  border-radius: 4px;
  border-top: 4px solid #20d00b;
  background-color: #eafcfc;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
  transition: border-top .2s, transform .3s;
  position: relative; }
  .member:hover {
    border-top: 4px solid #00e712;
    transform: translateY(-3px); }
  .member__figure {
    width: 13rem;
    padding: .8rem;
    border-radius: 50%;
    border: 3px solid #20d00b;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1); }
  .member__img {
    display: block;
    width: 100%;
    border-radius: 50%; }
  .member__name {
    font-family: 'gt_walsheim_promedium';
    font-size: 2.5rem;
    color: #20d00b;
    letter-spacing: .7px;
    margin: 1.5rem 0 0rem 0; }
    .member__name::after {
      display: block;
      content: '';
      height: 3px;
      width: 40%;
      background-color: #20d00b;
      margin: .6rem auto 1rem auto; }
  .member__long {
    font-size: 1.4rem;
    text-align: center; }
  .member__icon {
    width: 2.2rem;
    height: 2.2rem;
    fill: #20d00b;
    transition: all .2s; }
    .member__icon-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 6.8rem;
      position: absolute;
      top: 3rem;
      right: 2.2rem; }
    .member__icon:hover {
      fill: #00e712; }

.ourwork {
  display: flex;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
  position: relative;
  /** 900px / 16 = 56.25em */ }
  @media only screen and (max-width: 56.25em) {
    .ourwork {
      flex-direction: column; } }
  .ourwork__img-container {
    /** 600px / 16 = 37.5em */ }
    @media only screen and (max-width: 37.5em) {
      .ourwork__img-container {
        flex-direction: column; } }
  .ourwork__figure {
    margin-top: -4rem;
    /** 900px / 16 = 56.25em */
    /** 600px / 16 = 37.5em */ }
    .ourwork__figure:not(:last-child) {
      margin-right: 2rem;
      /** 600px / 16 = 37.5em */ }
      @media only screen and (max-width: 37.5em) {
        .ourwork__figure:not(:last-child) {
          margin-right: 0; } }
    .ourwork__figure::after {
      position: absolute;
      content: attr(data-number);
      font-family: 'gt_walsheim_promedium';
      font-size: 2.1rem;
      color: #20d00b;
      width: 3.3rem;
      height: 3.3rem;
      border-radius: 50%;
      border: 3px solid #20d00b;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eafcfc;
      top: 115%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      /** 600px / 16 = 37.5em */ }
      @media only screen and (max-width: 37.5em) {
        .ourwork__figure::after {
          top: 50%;
          left: 40rem;
          display: none;
          transform: translateY(-50%); } }
    @media only screen and (max-width: 56.25em) {
      .ourwork__figure {
        margin: 2rem 0 9rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .ourwork__figure {
        margin: 1.3rem 0; } }
  .ourwork__line {
    height: .4rem;
    width: 48rem;
    background-color: #20d00b;
    position: absolute;
    top: 23rem;
    left: 15rem;
    z-index: 1;
    /** 1000px / 16 = 62.5em */
    /** 900px / 16 = 56.25em */
    /** 800px / 16 = 50em */
    /** 600px / 16 = 37.5em */ }
    @media only screen and (max-width: 62.5em) {
      .ourwork__line {
        width: 45rem;
        top: 24.7rem;
        left: 14rem; } }
    @media only screen and (max-width: 56.25em) {
      .ourwork__line {
        width: 62rem;
        top: 24.7rem;
        left: 16rem; } }
    @media only screen and (max-width: 50em) {
      .ourwork__line {
        width: 43rem;
        top: 18.8rem;
        left: 13rem; } }
    @media only screen and (max-width: 37.5em) {
      .ourwork__line {
        top: 50%;
        left: 40rem;
        display: none;
        transform: translateY(-50%); } }
  .ourwork__logo {
    width: 4rem;
    margin-top: 2.5rem;
    /** 900px / 16 = 56.25em */ }
    @media only screen and (max-width: 56.25em) {
      .ourwork__logo {
        width: 5rem; } }
  .ourwork__title {
    font-family: 'gt_walsheim_probold';
    font-size: 2rem;
    margin: 1.5rem 0 1.2rem 0;
    /** 900px / 16 = 56.25em */ }
    @media only screen and (max-width: 56.25em) {
      .ourwork__title {
        font-size: 2.5rem; } }
  .ourwork__long {
    font-size: 1.3rem;
    text-align: justify;
    /** 1000px / 16 = 62.5em */
    /** 900px / 16 = 56.25em */
    /** 600px / 16 = 37.5em */
    /** 450px / 16 = 28.125em */ }
    @media only screen and (max-width: 62.5em) {
      .ourwork__long {
        text-align: initial; } }
    @media only screen and (max-width: 56.25em) {
      .ourwork__long {
        font-size: 1.7rem;
        line-height: 1.45;
        text-align: center;
        width: 90%; } }
    @media only screen and (max-width: 37.5em) {
      .ourwork__long {
        text-align: justify; } }
    @media only screen and (max-width: 28.125em) {
      .ourwork__long {
        font-size: 1.5rem;
        text-align: center; } }

.ourwork-left {
  flex-basis: 74%;
  padding: 0 2rem;
  background-color: #eafcfc;
  /** 900px / 16 = 56.25em */ }
  @media only screen and (max-width: 56.25em) {
    .ourwork-left {
      flex-basis: 50%; } }

.ourwork-right {
  flex-basis: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1.5rem;
  background-color: #2a2a2a;
  /** 900px / 16 = 56.25em */
  /** 600px / 16 = 37.5em */ }
  @media only screen and (max-width: 56.25em) {
    .ourwork-right {
      flex-basis: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .ourwork-right {
      margin-top: 1.7rem; } }

.review-container {
  grid-template-columns: repeat(2, 28rem);
  grid-gap: 4rem;
  /** 550px / 16 = 34.375em */ }
  @media only screen and (max-width: 34.375em) {
    .review-container {
      grid-template-columns: 28rem; } }

.review {
  display: flex;
  border: 2px solid #00e712;
  background-color: #eafcfc;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15); }
  .review__figure {
    width: 9rem;
    height: 9rem;
    padding: .5rem;
    border-radius: 50%;
    border: 2px solid #20d00b;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 1.5rem; }
  .review__img {
    display: block;
    height: 100%;
    border-radius: 50%; }
  .review__text {
    margin-top: 2rem; }
  .review__name {
    display: inline-block;
    font-family: 'gt_walsheim_promedium';
    font-size: 1.43rem;
    letter-spacing: 1px;
    color: white;
    padding: .2rem 1.5rem;
    background-color: #1dbd0a;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    transform: translateX(-3rem); }
  .review__long {
    font-size: 1.32rem;
    margin-top: .5rem;
    line-height: 1.3; }
  .review__icon {
    width: 2rem;
    height: 2rem;
    fill: #20d00b; }

.review-left {
  flex-basis: 85%;
  padding: 1.5rem 1rem 1rem 1rem; }

.review-right {
  flex-basis: 15%;
  border-left: 2px solid #00e712;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.about__figure {
  z-index: 1; }
  .about__figure::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 5rem;
    left: 5rem;
    border: 1rem solid #20d00b;
    z-index: -1;
    /** 450px / 16 = 28.125em */ }
    @media only screen and (max-width: 28.125em) {
      .about__figure::after {
        top: 3.5rem;
        left: 3.5rem; } }

.about__header {
  font-family: 'gt_walsheim_probold';
  font-size: 3.5rem;
  white-space: nowrap;
  margin-bottom: 1.2rem;
  /** 450px / 16 = 28.125em */ }
  @media only screen and (max-width: 28.125em) {
    .about__header {
      font-size: 3rem;
      white-space: normal;
      text-align: center; } }

.about__long {
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.45;
  margin-top: 1.2rem;
  /** 800px / 16 = 50em */ }
  @media only screen and (max-width: 50em) {
    .about__long {
      font-size: 1.5rem; } }

.about-content {
  flex-direction: column; }

.footer {
  color: #fff;
  grid-template-columns: 32rem max-content;
  grid-gap: 8rem;
  align-items: center;
  padding: 8rem 0;
  background-color: #1fc60a;
  /** 1000px / 16 = 62.5em */
  /** 800px / 16 = 50em */ }
  @media only screen and (max-width: 62.5em) {
    .footer {
      grid-template-columns: 30rem max-content;
      grid-gap: 5rem; } }
  @media only screen and (max-width: 50em) {
    .footer {
      grid-template-columns: 1fr;
      grid-gap: 8rem; } }
  .footer__description {
    flex-direction: column;
    padding: 0 1rem;
    background-color: #20d30b;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    height: 110%;
    /** 1000px / 16 = 62.5em */
    /** 800px / 16 = 50em */ }
    @media only screen and (max-width: 62.5em) {
      .footer__description {
        height: 105%; } }
    @media only screen and (max-width: 50em) {
      .footer__description {
        width: 32rem;
        height: 120%;
        margin: 0 auto; } }
  .footer__logo {
    width: 7rem;
    transform: translateX(2rem);
    /** 800px / 16 = 50em */ }
    @media only screen and (max-width: 50em) {
      .footer__logo {
        width: 6rem; } }
  .footer__header {
    font-family: 'gt_walsheim_promedium';
    font-size: 3rem;
    margin: 2rem 0 1rem 0; }
  .footer__long {
    font-size: 1.4rem;
    text-align: justify;
    width: 22rem;
    /** 800px / 16 = 50em */ }
    @media only screen and (max-width: 50em) {
      .footer__long {
        font-size: 1.6rem;
        text-align: center; } }
  .footer__media {
    /** 550px / 16 = 34.375em */ }
    @media only screen and (max-width: 34.375em) {
      .footer__media {
        display: grid;
        grid-template-columns: max-content;
        margin: 0 auto; } }
  .footer__icon-box {
    margin-top: 2.7rem; }
  .footer__icon {
    width: 2rem;
    height: 2rem;
    fill: white; }
    .footer__icon:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__form {
    /** 550px / 16 = 34.375em */ }
    .footer__form-box {
      display: flex;
      margin-top: 2rem; }
    @media only screen and (max-width: 34.375em) {
      .footer__form {
        display: grid;
        grid-template-columns: max-content; } }
  .footer__input {
    width: 28rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: #444;
    padding: 1rem 1rem;
    outline: none;
    border: none;
    background-color: #d4d4d4;
    /** 400px / 16 = 25em */ }
    @media only screen and (max-width: 25em) {
      .footer__input {
        width: 25rem; } }
  .footer__submit {
    outline: none;
    border: none;
    padding: 0 4.5rem;
    background-color: #eee;
    transition: all .2s;
    cursor: pointer;
    /** 400px / 16 = 25em */ }
    .footer__submit:hover, .footer__submit:active {
      background-color: #e6e6e6; }
    .footer__submit svg {
      width: 2rem;
      height: 2rem;
      fill: #00d310; }
    @media only screen and (max-width: 25em) {
      .footer__submit {
        padding: 0 3.5rem; } }
  .footer__list {
    list-style: none;
    /** 400px / 16 = 25em */ }
    @media only screen and (max-width: 25em) {
      .footer__list {
        margin: 0 auto; } }
    .footer__list-header {
      display: block;
      font-family: 'gt_walsheim_promedium';
      font-size: 2rem;
      margin-bottom: 2.5rem;
      /** 400px / 16 = 25em */ }
      @media only screen and (max-width: 25em) {
        .footer__list-header {
          text-align: center; } }
    .footer__list--contact {
      margin-left: 3rem;
      width: 70%;
      /** 550px / 16 = 34.375em */
      /** 400px / 16 = 25em */ }
      @media only screen and (max-width: 34.375em) {
        .footer__list--contact {
          margin: 0;
          width: 80%; } }
      @media only screen and (max-width: 25em) {
        .footer__list--contact {
          grid-column: 1/ -1;
          margin: 0 auto; } }
    .footer__list-icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: white;
      margin-right: .4rem;
      transform: translateY(0.3rem); }
  .footer__item {
    /** 400px / 16 = 25em */ }
    .footer__item:not(:last-child) {
      margin-bottom: 1rem; }
    @media only screen and (max-width: 25em) {
      .footer__item {
        text-align: center; } }
  .footer__link, .footer__link:link, .footer__link:visited {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    line-height: 1.5;
    transition: all .15s; }
  .footer__link:hover, .footer__link:active {
    border-bottom: 2px solid white; }
  .footer__link--contact:hover {
    border-bottom: 2px solid transparent; }
  .footer__content {
    /** 800px / 16 = 50em */ }
    @media only screen and (max-width: 50em) {
      .footer__content {
        margin: 0 auto; } }
  .footer__top {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 6rem;
    width: max-content;
    padding-bottom: 3.5rem;
    margin-bottom: 3.5rem;
    border-bottom: 2px solid white;
    /** 1000px / 16 = 62.5em */
    /** 550px / 16 = 34.375em */ }
    .footer__top-header {
      font-family: 'gt_walsheim_promedium';
      font-size: 2rem;
      /** 550px / 16 = 34.375em */ }
      @media only screen and (max-width: 34.375em) {
        .footer__top-header {
          text-align: center; } }
    @media only screen and (max-width: 62.5em) {
      .footer__top {
        grid-gap: 4.5rem; } }
    @media only screen and (max-width: 34.375em) {
      .footer__top {
        grid-template-columns: 1fr;
        margin: 0 auto;
        border-bottom: none; } }
  .footer__bottom {
    grid-template-columns: 14rem repeat(2, max-content);
    grid-gap: 5.5rem;
    /** 1000px / 16 = 62.5em */
    /** 550px / 16 = 34.375em */
    /** 450px / 16 = 28.125em */
    /** 400px / 16 = 25em */ }
    @media only screen and (max-width: 62.5em) {
      .footer__bottom {
        grid-gap: 4rem; } }
    @media only screen and (max-width: 34.375em) {
      .footer__bottom {
        grid-template-columns: repeat(3, max-content);
        margin: 1.5rem 0 0 10rem; } }
    @media only screen and (max-width: 28.125em) {
      .footer__bottom {
        grid-gap: 3rem;
        margin: 1.5rem 0 0 10rem; } }
    @media only screen and (max-width: 25em) {
      .footer__bottom {
        grid-template-columns: repeat(2, 1fr);
        margin: 1.5rem 0 0 0; } }

.header {
  background-image: linear-gradient(to right, rgba(31, 217, 217, 0.05), rgba(31, 217, 217, 0.1));
  background-color: white;
  height: 90vh;
  position: relative;
  /** 600px / 16 = 37.5em */ }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(0, 197, 15, 0.6), rgba(17, 111, 6, 0.8)), url(../../img/hero.jpg);
      background-size: cover;
      background-position: center; } }
  .header__content {
    top: 45%;
    left: 30%;
    flex-direction: column;
    /** 1100px / 16 = 68.75em */ }
    @media only screen and (max-width: 68.75em) {
      .header__content {
        left: 50%; } }
  .header__long {
    font-size: 1.5rem;
    line-height: 1.4;
    width: 65rem;
    text-align: center;
    margin: 3rem 0;
    /** 600px / 16 = 37.5em */
    /** 450px / 16 = 28.125em */ }
    @media only screen and (max-width: 37.5em) {
      .header__long {
        font-size: 1.6rem;
        width: 50rem;
        color: white; } }
    @media only screen and (max-width: 28.125em) {
      .header__long {
        width: 30rem; } }
  .header__slide {
    position: absolute;
    height: 90vh;
    width: 70rem;
    background-image: linear-gradient(to right bottom, rgba(0, 197, 15, 0.6), rgba(17, 111, 6, 0.8)), url(../../img/hero.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    top: 0;
    right: 0;
    /** 1500px / 16 = 93.75em */
    /** 1100px / 16 = 68.75em */ }
    @media only screen and (max-width: 93.75em) {
      .header__slide {
        width: 50rem; } }
    @media only screen and (max-width: 68.75em) {
      .header__slide {
        display: none; } }

.work__box {
  display: flex;
  align-items: center; }
  .work__box:not(:last-child) {
    margin-bottom: 3rem; }

.work__box:hover .work__number {
  background-color: #00e712; }

.work__number {
  font-size: 3rem;
  color: white;
  width: 5rem;
  height: 5rem;
  background-color: #20d00b;
  border-radius: .8rem;
  margin-right: 1rem;
  transition: all .2s; }

.work__text {
  font-size: 1.55rem;
  line-height: 1.4;
  width: 45rem;
  /**  400px / 16 = 25em */ }
  @media only screen and (max-width: 25em) {
    .work__text {
      font-size: 1.5rem;
      line-height: 1.1;
      width: 28rem; } }

.work__title-box {
  display: flex;
  align-items: center;
  border-top: 2px solid #20d00b;
  padding-top: 2.2rem;
  margin-top: 2.2rem; }
  .work__title-box-left {
    flex-basis: 12%;
    display: flex;
    align-items: center;
    padding: .1rem 0;
    border: 2px solid #20d00b; }
  .work__title-box-right {
    flex-basis: 88%;
    padding: .4rem 1rem;
    background-color: #20d00b; }

.work__icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: #00e712;
  margin-left: .4rem; }

.work__title {
  font-family: 'gt_walsheim_promedium';
  font-size: 1.9rem;
  letter-spacing: .6px;
  color: white; }

.work-left {
  margin-top: 2rem; }

.nav {
  display: flex;
  align-items: center;
  padding: 4rem 8rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  /** 1100px / 16 = 68.75em */
  /** 1300px / 16 = 81.25em */
  /** 800px / 16 = 50em */
  /** 450px / 16 = 28.125em */ }
  @media only screen and (max-width: 68.75em) {
    .nav {
      padding: 4rem 6rem;
      justify-content: space-between; } }
  @media only screen and (max-width: 81.25em) {
    .nav {
      padding: 4rem; } }
  @media only screen and (max-width: 50em) {
    .nav {
      padding: 4rem 6rem; } }
  @media only screen and (max-width: 28.125em) {
    .nav {
      padding: 4rem; } }
  .nav__logo {
    text-decoration: none;
    margin-right: 10rem;
    /** 1350px / 16 = 84.375em */
    /** 1300px / 16 = 81.25em */
    /** 1100px / 16 = 68.75em */ }
    @media only screen and (max-width: 84.375em) {
      .nav__logo {
        margin-right: 5rem; } }
    @media only screen and (max-width: 81.25em) {
      .nav__logo {
        margin-right: 3rem; } }
    @media only screen and (max-width: 68.75em) {
      .nav__logo {
        margin: 0; } }
  .nav__list {
    display: flex;
    list-style: none;
    /** 800px / 16 = 50em */ }
    @media only screen and (max-width: 50em) {
      .nav__list {
        display: none; } }
  .nav__item:not(:last-child) {
    margin-right: 3rem;
    /** 1300px / 16 = 81.25em */ }
    @media only screen and (max-width: 81.25em) {
      .nav__item:not(:last-child) {
        margin-right: 2.5rem; } }
  .nav__link:link, .nav__link:visited {
    font-size: 1.8rem;
    color: #20d00b;
    text-decoration: none; }
  .nav__link:after {
    display: block;
    content: '';
    background-color: currentColor;
    height: 2px;
    width: 100%;
    transform: scaleX(0) translateY(-1px);
    transition: all .25s; }
  .nav__link:hover:after {
    transform: scaleX(1) translateY(-1px); }
  .nav__icon {
    width: 2.7rem;
    height: 2.7rem;
    fill: white;
    margin-left: auto;
    /** 1100px / 16 = 68.75em */
    /** 600px / 16 = 37.5em */ }
    @media only screen and (max-width: 68.75em) {
      .nav__icon {
        fill: #00e712;
        margin: 0; } }
    @media only screen and (max-width: 37.5em) {
      .nav__icon {
        fill: white; } }

.service__figure {
  border: 1px solid #00e712;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  /** 1100px / 16 = 68.75em */
  /** 550px / 16 = 34.375em */ }
  @media only screen and (max-width: 68.75em) {
    .service__figure {
      width: 26.1rem; }
      .service__figure:nth-of-type(1), .service__figure:nth-of-type(3) {
        margin-left: auto; } }
  @media only screen and (max-width: 34.375em) {
    .service__figure {
      margin: 0 auto; } }

.service__img-box {
  position: absolute;
  top: 2rem;
  left: 2rem;
  /** 900px / 16 = 56.25em */ }
  @media only screen and (max-width: 56.25em) {
    .service__img-box {
      top: 1.7rem;
      left: 1.7rem; } }

.service__title:link, .service__title:visited {
  display: block;
  width: max-content;
  font-family: 'gt_walsheim_promedium';
  font-size: 2rem;
  color: #20d00b;
  text-decoration: none;
  margin-bottom: .6rem;
  line-height: 1;
  border-bottom: 2px solid transparent;
  transition: all .2s; }

.service__title:hover, .service__title:active {
  border-bottom: 2px solid #20d00b; }

.service__long {
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.3;
  width: 90%; }

.service__header {
  font-family: 'gt_walsheim_promedium';
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  transform: translateX(-3rem);
  /** 1100px / 16 = 68.75em */
  /** 450px / 16 = 28.125em */ }
  @media only screen and (max-width: 68.75em) {
    .service__header {
      transform: translateX(0); } }
  @media only screen and (max-width: 28.125em) {
    .service__header {
      font-size: 3rem;
      text-align: center; } }

.service__box {
  display: flex;
  align-items: center; }
  .service__box:not(:last-child) {
    margin-bottom: 1rem; }

.service__arrow {
  width: 2.2rem;
  height: 2.2rem;
  fill: #00e712; }

.service__text {
  font-size: 1.45rem;
  margin-left: .8rem; }

.service-content {
  grid-row: 1/ 3;
  grid-column: 3/ 4;
  margin: 2.5rem 0 0 auto;
  position: relative;
  /** 1100px / 16 = 68.75em */
  /** 550px / 16 = 34.375em */
  /** 450px / 16 = 28.125em */ }
  .service-content::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 90%;
    background-color: #20d00b;
    top: 0;
    left: -8rem;
    /** 1100px / 16 = 68.75em */ }
    @media only screen and (max-width: 68.75em) {
      .service-content::before {
        display: none; } }
  @media only screen and (max-width: 68.75em) {
    .service-content {
      grid-row: 4/ 5;
      grid-column: 1/ -1;
      margin: 0 auto; } }
  @media only screen and (max-width: 34.375em) {
    .service-content {
      grid-row: 5/ 6;
      margin-top: 2rem; } }
  @media only screen and (max-width: 28.125em) {
    .service-content {
      width: 80%; } }

.section-divider {
  height: 3rem;
  width: 100%;
  margin-bottom: 2rem;
  background-color: white;
  border-top: 2px solid #00e712;
  border-bottom: 2px solid #00e712;
  position: relative; }
  .section-divider::after {
    position: absolute;
    content: attr(data-header);
    font-family: 'gt_walsheim_promedium';
    font-size: 2.3rem;
    color: white;
    text-transform: capitalize;
    white-space: nowrap;
    padding: .4rem 4rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-image: linear-gradient(to bottom, #20d00b, #1ec00a);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.08);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    /**  400px / 16 = 25em */ }
    @media only screen and (max-width: 25em) {
      .section-divider::after {
        width: 120vw;
        text-align: center; } }

.section-about {
  padding: 8rem 0 12rem 0;
  grid-template-columns: 40rem 45rem;
  grid-gap: 13rem;
  /** 950px / 16 = 59.375em */
  /** 800px / 16 = 50em */
  /** 500px / 16 = 31.25em */
  /** 450px / 16 = 28.125em */ }
  @media only screen and (max-width: 59.375em) {
    .section-about {
      grid-template-columns: 38rem 45rem;
      grid-gap: 9rem; } }
  @media only screen and (max-width: 50em) {
    .section-about {
      grid-template-columns: 45rem; } }
  @media only screen and (max-width: 31.25em) {
    .section-about {
      grid-template-columns: 40rem; } }
  @media only screen and (max-width: 28.125em) {
    .section-about {
      grid-template-columns: 30rem; } }

.section-work {
  padding: 8rem 0 6rem 0;
  grid-template-columns: 50rem 35rem;
  grid-gap: 10rem;
  /** 950px / 16 = 59.375em */
  /** 800px / 16 = 50em */
  /**  400px / 16 = 25em */ }
  @media only screen and (max-width: 59.375em) {
    .section-work {
      grid-gap: 6rem; } }
  @media only screen and (max-width: 50em) {
    .section-work {
      grid-template-columns: 42rem; } }
  @media only screen and (max-width: 25em) {
    .section-work {
      grid-template-columns: 35rem; } }

.section-feature {
  padding: 10rem 0;
  grid-template-columns: repeat(4, 27rem);
  grid-gap: 6rem;
  /** 1300px / 16 = 81.25em */
  /** 1100px / 16 = 68.75em */
  /** 550px / 16 = 34.375em */ }
  @media only screen and (max-width: 81.25em) {
    .section-feature {
      grid-gap: 3rem; } }
  @media only screen and (max-width: 68.75em) {
    .section-feature {
      grid-template-columns: repeat(2, 27rem);
      grid-gap: 8rem; } }
  @media only screen and (max-width: 34.375em) {
    .section-feature {
      grid-template-columns: 27rem; } }

.section-event {
  padding: 10rem 0 8rem 0;
  grid-template-columns: repeat(2, 56rem);
  grid-column-gap: 6rem;
  grid-row-gap: 8rem;
  /** 1250px / 16 = 78.125em */
  /** 1100px / 16 = 68.75em */
  /** 500px / 16 = 31.25em */
  /**  400px / 16 = 25em */ }
  @media only screen and (max-width: 78.125em) {
    .section-event {
      grid-column-gap: 4rem; } }
  @media only screen and (max-width: 68.75em) {
    .section-event {
      grid-template-columns: 56rem; } }
  @media only screen and (max-width: 31.25em) {
    .section-event {
      grid-template-columns: 53rem; } }
  @media only screen and (max-width: 25em) {
    .section-event {
      grid-template-columns: 35rem; } }

.section-service {
  padding: 8rem 0 7rem 0;
  grid-template-columns: repeat(2, 26.1rem) 58rem;
  grid-gap: 2.5rem;
  /** 1100px / 16 = 68.75em */
  /** 550px / 16 = 34.375em */ }
  @media only screen and (max-width: 68.75em) {
    .section-service {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 34.375em) {
    .section-service {
      grid-template-columns: 1fr; } }

.section-member {
  padding: 8rem 0 7rem 0;
  grid-template-columns: repeat(3, 30rem);
  grid-gap: 6rem;
  /** 1000px / 16 = 62.5em */ }
  @media only screen and (max-width: 62.5em) {
    .section-member {
      grid-template-columns: 30rem; } }

.section-ourwork {
  padding: 6rem 0;
  grid-template-columns: 105rem;
  /** 1000px / 16 = 62.5em */
  /** 800px / 16 = 50em */
  /** 600px / 16 = 37.5em */ }
  @media only screen and (max-width: 62.5em) {
    .section-ourwork {
      grid-template-columns: 95rem; } }
  @media only screen and (max-width: 50em) {
    .section-ourwork {
      grid-template-columns: 70rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-ourwork {
      grid-template-columns: 36rem; } }

.section-testimonial {
  padding: 8rem 0;
  grid-template-columns: max-content 38rem;
  grid-gap: 10rem;
  /** 1100px / 16 = 68.75em */ }
  @media only screen and (max-width: 68.75em) {
    .section-testimonial {
      grid-template-columns: 1fr; } }
