.feature-wrapper {
    filter: drop-shadow(0rem 1.5rem 2rem rgba(black, .15));
    position: relative;

    &::before {
        position: absolute;
        content: attr(data-number);
        font-family: 'gt_walsheim_promedium';
        font-size: 2.1rem;
        color: $primary-dark;
        width: 3.3rem;
        height: 3.3rem;
        border-radius: 50%;
        border: 3px solid $primary-dark;
        background-color: $blue-background;
        display: flex;
        align-items: center;
        justify-content: center;
        top: .5rem;
        left: -.5rem;
    }

    &::after {
        position: absolute;
        content: '';
        height: .4rem;
        width: 8rem;
        background-color: $primary-dark;
        top: 1.8rem;
        left: 3.5rem;
        border-radius: 10rem;
    }
}

.feature {
    padding: 1.3rem;
    border-radius: 3px;
    background-color: $blue-backgrond;
    clip-path: polygon(0 17.2%, 100% 0, 100% 100%, 0% 100%);

    &-content {
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
        background-color: $primary-dark;
        position: relative;
        z-index: 1;

        &::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
            background-color: $blue-backgrond;
            transform: scale(0.984);
            z-index: -1;
        }
    }

    &__icon {
        display: block;
        width: 5rem;
        height: 5rem;
        fill: $primary;
        margin: 2rem 0 2rem auto;
    }

    &__long {
        font-size: 1.4rem;
        line-height: 1.4;
        text-align: justify;
    }

    &-footer {
        padding-top: 1rem;
        width: calc(100% + 2.6rem);
        margin-left: -1.3rem;
        border-top: 2px solid $primary-dark;
    }

    &__header {
        font-family: 'gt_walsheim_promedium';
        font-size: 2rem;
        color: $primary-dark
    }
}
