.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-center {
    display: grid;
    justify-content: center;
    align-content: center;
}

.img-overlay {
    height: max-content;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right bottom, rgba($primary, .4), rgba($primary-dark, .7));
    }

    &--white {
        &::before {
            background-image: linear-gradient(to bottom, rgba(#f6f6f6, .9), rgba(#ddd, .8)) !important;
        }
    }

    img {
        display: block;
        width: 100%;
    }
}

.text-gradient {
    background-image: linear-gradient(to right bottom, #00d611, $primary-dark);
    -webkit-background-clip: text;
    color: transparent;
}

.green {
    fill: $primary-dark !important;
}

///////CUSTOM CHECKBOX////////////

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    position: relative;
    font-size: 1.4rem;
    padding-left: 2.5rem;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $primary;
    background: #fff;
    border-radius: 3px;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    content: '\2713\0020';
    position: absolute;
    top: -2px;
    left: 3px;
    font-size: 1.3rem;
    color: $primary;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked)+label:after {
    opacity: 1;
    transform: scale(1);
}

[type="checkbox"]:checked+label:after {
    opacity: 0;
    transform: scale(0);
}